[Unit]
Description=OceanEyes: API and app for Ocean Digital Internet Radios

[Service]
Type=simple
User=lee
group=users
WorkingDirectory=~/python-apps/oceaneyes/app
ExecStartPre=/bin/bash -c "source ~/python-apps/oceaneyes/bin/activate oceaneyes"
ExecStart=~/python-apps/oceaneyes/bin/python3 ~/python-apps/oceaneyes/app/main.py

[Install]
WantedBy=multi-user.target
